@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.App {

  background-color: #1c1c1c;
  padding:30px;
  color:white;
  font-family: 'Playfair Display', serif;
}

.linkSub {
  color:bisque;
  margin-bottom: 15px;
  margin-top: 6px;
}

h1 {
  font-weight: 800;
  font-size: 40px;

}

h2 {
  font-size: 30px;

}

.subtitle {
  font-weight: 100;
  font-size: 20px;
  font-style: italic;
  margin: 0;
}


.subtitle {
  font-weight: 100;
  font-size: 20px;
  font-style: italic;
  margin: 0;
}

.smallSubtitle {
  font-size: 10px;
}

p {
  width:300px
}

.profilePic {
  width: 200px;
  margin-top: 20px;
}

a {
  color:antiquewhite;
  font-style: italic;
  font-weight: 800;

}